#open-project-title {
    height: 75px;
    background-color: #58646c;
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 10px !important;
}

#search-buttons {
    margin-left: 25%;
}

.search-button {
    margin-right: 20px;
    margin-top: 10px;
}
.clear-filter-button {
    margin-top: 10px;
}