.about-us-modal {
    line-height: 150%;
    background-color: #ffffe6;
    padding: 10px;
}

#about-us-modal-title {
    height: 75px;
    background-color: #58646c;
    color: white;
    margin-top: 35px;
    margin-bottom: 25px;
}

.about-us-list {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#p1 {
    margin-top: 20px;
}

#p2 {
    margin-top: 10px;
}

#p3 {
    margin-bottom: 15px;
}
