#main-content {
    /* width: 100vw !important; */
    margin-top: 100px;
    /* background-color: #F5F5F5;
    margin: 0 !important;
    padding: 0 !important; */

}
.heading {
    padding-left: 10px;
}

footer {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    left: 50%;
    background-color: #58646c !important;
}

#footer-box {
    margin-bottom: 0;
    width: 100vw;
}

.footer-text {
    padding-left: 55%;
}

.ReactModal__Content {
    margin-top: 120px;
}

body {
    background-color: #f2f2f3;
    
}

